@model IEnumerable<MVC_Badge_System.Models.Gift>

@{
    ViewBag.Title = "GridIndex";
}

<h2>GridIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @for (int i = 0; i <= 6; i++)
        {
            <td>
                <button type="button" height="80%" width="80%"><img src="http://rs519.pbsrc.com/albums/u359/hoobity/1324749076815.gif~c200" /></button>
            </td>
        }
    </tr>

    @for (int i = 0; i <= 30;)
    {
        <tr>
            @for (int j = 0; j <= 6; j++)
            {
                if (i <= 30)
                {
                <td>
                    <button type="button" height="90%" width="90%"><img src="http://rs519.pbsrc.com/albums/u359/hoobity/1324749076815.gif~c200" /></button>
                </td>
                } else
                {
                    <td></td>
                }
                i++;
            }
        </tr>
    }

    @*actual table*@
    @*
    <tr>
        @foreach (var coreBadge in Model) {
            if (Model.Badge.Type == "core")
            {
                <td>
                    <button type="button" height="90%" width="90%"><img src=@coreBadge.Badge.ImageLink /></button>
                </td>
            }
        }
    </tr>
    @foreach (var competencyBadge in Model)
    {
        <tr>
            @for (int i = 0; i <= 6; i++)
            {
                if (Model.Badge.Type == "competency")
                {
                    <td>
                        <button type="button" height="90%" width="90%"><img src=@coreBadge.Badge.ImageLink /></button>
                    </td>
                    continue; // move along the foreach
                }
                else if(Model.Badge.Type == null)
                {
                    <td></td> // create an empty
                }
                else
                {
                    i--;
                    continue; // move along the foreach
                }
            }
        </tr>
    }

    @foreach (var comendationBadge in Model)
    {
        <tr>
            @for (int i = 0; i <= 6; i++)
            {
                if (Model.Badge.Type == "comendation")
                {
                    <td>
                        <button type="button" height="90%" width="90%"><img src=@coreBadge.Badge.ImageLink /></button>
                    </td>
                    continue; // move along the foreach
                }
                else if (Model.Badge.Type == null)
                {
                    <td></td> // create an empty
                }
                else
                {
                    i--;
                    continue; // move along the foreach
                }
            }
        </tr>
    }*@
</table>
