@model MVC_Badge_System.Models.GridViewModel

@{
    ViewBag.Title = "GridIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 padding>@Model.student.FirstName @Model.student.LastName's Badges</h2>

<span id="gst-bmm-modal"></span>
<input id="gst-bmm-student-id" type="hidden" value=@Model.student.UserId />

<table class="table">
    @for (int i = 0; i < Model.grid[Model.longest].Count; i++) { @*the list of model.grid[Model.longest] should be the longest and will therefore decide the number of rows*@
    <tr>
        @foreach (List<MVC_Badge_System.Models.BadgeViewModel> l in Model.grid) {
            <td>
                @if (l.Count >= i + 1)
                {
                    if (l[i].obtained)
                    {
                        <center><button type="button" class="gst-bmm" data-badge-id=@l[i].badge.BadgeId><img src=@l[i].badge.Picture /></button></center>
                    }
                    else
                    {
                        <center><button type="button" class="gst-bmm gst-bmm-disabled" data-badge-id=@l[i].badge.BadgeId><img src=@l[i].badge.Picture /></button></center>
                    }

                    <center>@l[i].badge.Name</center>
              }
          </td>
      }
      </tr>
    }
</table>

<style>
    .gst-bmm-disabled {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    h2{
        padding: 10px 30px;
    }

    img {
        width:100%;
        max-width:200px;
    }
</style>

@section scriptsIncludes {
    <script src="~/content/BadgeModalModule.js?Build=@Guid.NewGuid().ToString()"></script>
}

@section inlineScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            window.BadgeModalModule.init();
        });
    </script>
}
