@model MVC_Badge_System.Models.User

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<div>
    <h4>Welcome, @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)!</h4>
    <hr />
    <h5>You are currently logged in as @Html.DisplayFor(model => model.UserType)</h5>
</div>