
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: block; margin: auto; width: 1055px; height: 659px">
    <img style="display: block; margin: auto;" src="/img/tree.png" />
</div>

