
@{
    ViewBag.Title = "Index";
}
<head>
    <!--https://developers.google.com/identity/sign-in/web/server-side-flow-->
    <meta name="google-signin-client_id" content="639418916169-ghje86s65jguc9o1jfn3u9f8ibkd74hb.apps.googleusercontent.com">
</head>

<h2>Index</h2>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
