
@{
    ViewBag.Title = "Logout";
}

<style>
    .bigicon {
        font-size: 100px;
    }

    .readMe {
        cursor: pointer;
    }
</style>

<i class="fa fa-grav bigicon" aria-hidden="true"></i>

<div align="center">
    <h2>You Have Been Logged Out</h2>
    <p>Login to begin</p>
</div>
